.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textField {
  display: flex;
  flex-direction: column;

  &>input {
    height: 32px;
    padding: 0 3px;
  }
}

.small {
  width: 100px;
}

.medium {
  width: 200px;
}

.large {
  width: 300px;
}