.button {
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  background: #ffffff;

}

.a {
  border: solid 2px;
  font-size: 13px;
  text-align: center;
  line-height: 36px;
}

.div {
  border: solid 2px;
  font-size: 13px;
  display: flex;
  place-content: center;
  place-items: center;
}

.small {
  width: 100px;
}

.medium {
  width: 200px;
}

.large {
  width: 300px;
}

.full {
  width: 100%;
}